/* google font */
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&family=Yatra+One&display=swap');

:root {
    --primary-color: #653592;
    --secondary-color:#D7E8F3;
    --third-color: #3881A5;
    --correct: #77DD77;
    --incorrect: #FF6961;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Palanquin Dark', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* MAIN section */
main {
    flex: 1 0 auto;
    margin-bottom: 55px;
}
h1,
h2 {
    font-family: 'Yatra One', system-ui;
    color: var(--secondary-color)
}

button {
    font-family: 'Yatra One', system-ui;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    padding: 7px;
    margin-top: 12px;
}

/* QUIZ Section */

.quiz-container {
    background: var(--secondary-color);
    width: 90%;
    max-width: 500px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 12px;
  
}

.quiz-container h2 {
    color: #000000;
}

.answer-button {
    background: var(--secondary-color);
    color: #000000;
    border: 1px solid var(--third-color);
    font-family: 'Palanquin Dark', sans-serif;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition-duration: 2s;
}

.answer-button:hover {
    border-color: var(--primary-color);
}

.answer-button.correct {
    background: var(--correct);
}

.answer-button.incorrect {
    background: var(--incorrect);
}

#next-question-btn {
    display: none;
}
/* FOOTER */
footer {
    background-color: var(--third-color);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

footer p {
    text-align: center;
}
