/* google font */
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&family=Yatra+One&display=swap');

:root {
    --primary-color: #b65db2;
    --secondary-color: #01ad27;
    --third-color: #ff67c8;
    --text-color: #31004a;
}


body {
    background-color: blueviolet;
    font-family: 'Palanquin Dark', sans-serif;
}

h1,
h2 {
    font-family: 'Yatra One', system-ui;
}

button {
    font-family: 'Yatra One', system-ui;
}